<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335396837024-hspkpj53ogn1uvqvllqkc30v0mcmffps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335396837024-hspkpj53ogn1uvqvllqkc30v0mcmffps</string>
	<key>API_KEY</key>
	<string>AIzaSyAlqq6PZylLKD5C0sN0wRPvTpbHry1Yl4w</string>
	<key>GCM_SENDER_ID</key>
	<string>335396837024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livvinyl.healthconnector.app</string>
	<key>PROJECT_ID</key>
	<string>livvinyl-health-connector</string>
	<key>STORAGE_BUCKET</key>
	<string>livvinyl-health-connector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335396837024:ios:0c0696df1d939def0c9bc5</string>
</dict>
</plist>