<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970460065596-21pgbsscfeasv8qlb4o3lpf86osjuihh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970460065596-21pgbsscfeasv8qlb4o3lpf86osjuihh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970460065596-0eheu6rp0dqtpk85q4n4rgbndkkbucni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlxrE-UDpvc_g9Fa5Oqbrg6xXgfrejm10</string>
	<key>GCM_SENDER_ID</key>
	<string>970460065596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.healthconnector.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>healthconnector-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>healthconnector-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970460065596:ios:ed527a8d63406d994e3839</string>
	<key>DATABASE_URL</key>
	<string>https://healthconnector-ai-default-rtdb.firebaseio.com</string>
</dict>
</plist>